# Eclipse
.project
.classpath
.settings/
bin/

# Maven
target/
pcap4j-test-coverage/src/

# Gradle
build/
.gradle/
bin/
gradle-app.setting
.gradletasknamecache

# IntelliJ IDEA
**/out/
.idea
**/*.iml

# Misc
.java-version
